body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color:aquamarine;
    color:darkgreen;
    line-height: 2.8;
}

header {
    background-color:azure;
    color:black;
    padding: 2rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1.5rem;
}

section {
    margin-bottom: 2rem;
}
